# Dependências e Builds
node_modules
dist
build
coverage

# Arquivos de Configuração Sensíveis e Ambiente
.env
.env.*

# Controle de Versão e IDEs
.git
.gitignore
.vscode

# Docker e Documentação
Dockerfile
docker-compose.yml
README.md
*.log